$lightgray     : #f5f6f7;
$darkgray      : #404851;
$lightblurgray : #819cb1;
$softgray      : #efeff1;

$font-size-small : 10px;
$badge-font-weight : normal;
$badge-color : #ffffff;
$badge-line-height: 10px;
$badge-bg : #42acee;
$badge-border-radius: 0;
$badge-active-color : $badge-color;
$badge-active-bg : $badge-bg;
$badge-link-hover-color : $badge-bg;

$font-primary : 'Open Sans', sans-serif;